## Package installation

In [ ]:
devtools::install_github("datadotworld/data.world-r", build_vignettes = TRUE)
install.packages("curl")

## List all tables in the dataset

In [1]:
library(data.world)
library(curl)
# Datasets are referenced by their URL or path
dataset_key <- "https://data.world/telangana/literacy-and-literacy-rate"
# List tables available for SQL queries
tables_qry <- data.world::qry_sql("SELECT * FROM Tables")
tables_df <- data.world::query(tables_qry, dataset = dataset_key)
# See what is in it
tables_df$tableName

[1] "literacy_and_literacy_rate"

## Try a sample query, if any tables exist

In [3]:
if (length(tables_df$tableName) > 0) {
  sample_qry <- data.world::qry_sql(sprintf("SELECT * FROM `%s`", tables_df$tableName[[1]]))
  sample_df <- data.world::query(sample_qry, dataset = dataset_key)
  sample_df
}

   districts     males   females literacy_rate_males literacy_rate_females
1  ADILABAD       228689  165802 73.48               53.40
2  BHADRADRI      351411  287288 73.56               59.33
3  KOMARAM BHEEM  147911  107091 65.99               47.50
4  MAHABUBABAD    229809  166389 66.52               47.81
5  MAHABUBNAGAR   429914  302794 66.77               46.83
6  MANCHERIAL     269729  202127 72.96               55.59
7  MEDAK          223069  154915 67.51               45.15
8  MEDCHAL        961188  816500 87.44               77.34
9  NAGARKURNOOL   247538  162621 64.85               43.64
10 NALGONDA       534573  381169 73.90               53.46
11 NIRMAL         210021  151977 69.03               47.14
12 NIZAMABAD      504933  395503 74.08               54.95
13 HYDERABAD     1542688 1349467 86.99               79.35
14 PEDDAPALLI     268587  208774 73.68               57.36
15 RAJANNA        182946  132665 73.47               52.17
16 RANGAREDDY     866798  677161 78.94               64.63
17 SANGAREDDY     494705  359255 73.02               54.84
18 SIDDIPET       326013  233560 72.30               51.08
19 SURYAPET       362596  271717 73.39               54.85
20 VIKARABAD      273236  197138 67.58               48.32
21 WANAPARTHY     168792  112539 65.73               45.27
22 WARANGAL (R)   233711  165359 71.90               50.67
23 WARANGAL (U)   412868  333592 84.40               67.98
24 JAGTIAL        307947  229689 70.60               50.38
25 YADADRI        253858  180461 75.82               55.02
26 JANGAON        181739  132395 71.21               51.69
27 JAYASHANKAR    223575  164672 70.05               50.76
28 JOGULAMBA      159704  102751 60.05               39.48
29 KAMAREDDY      283542  203017 67.37               46.13
30 KARIMNAGAR     357364  276616 77.94               60.38
31 KHAMMAM        462275  370045 73.69               58.31

In [4]:
R.Version()

$platform
[1] "i386-w64-mingw32"

$arch
[1] "i386"

$os
[1] "mingw32"

$system
[1] "i386, mingw32"

$status
[1] ""

$major
[1] "3"

$minor
[1] "4.1"

$year
[1] "2017"

$month
[1] "06"

$day
[1] "30"

$`svn rev`
[1] "72865"

$language
[1] "R"

$version.string
[1] "R version 3.4.1 (2017-06-30)"

$nickname
[1] "Single Candle"